# Beispiele für genesapi-tabular

In [29]:
import pandas as pd
import requests
from io import StringIO

BASE_URL = 'https://tabular.genesapi.org'

# for nice DataFrame display in this notebook:
def get_df(query):
    url = '%s/%s' % (BASE_URL, query)
    print(url)
    res = requests.get(url)
    csv = StringIO(res.text)
    df = pd.read_csv(csv, dtype={
        'region_id': str,
        'year': str
    })
    df.index = df[df.columns[0]]
    del df[df.columns[0]]
    return df.fillna('')

### generelle Angaben:

#### Layout
- `layout=time` - Eine Zeile pro Jahr/Datum
- `layout=region` - Eine Zeile pro Region
- `layout=long` - Eine Zeile pro Wert (**default**)

#### Beschriftungen
- `labels=id` (**default**) - Nur Kürzel/ids
- `labels=name` - ausgeschriebene Namen
- `labels=both` - beschriftung id + name

#### Format
- `format=csv` (**default**)
- `format=tsv` - Tabulator-getrennt
- `delimiter=,` (**default**) stattdessen ginge auch `delimiter=;`

#### Datumsformat
- `dformat=year` - Datumsformat: Jahre (**default**) 
- `dformat=date` - Datumsformat: Tage


## Beispiel: Einfache Tabelle mit 1 Messwert

`?data=11111:FLC006` 

Messwert: `FLC006` (Fläche)

Statistik: `11111` (Feststellung des Gebietstandes)

In [2]:
get_df('?data=11111:FLC006')

http://localhost:5000/?data=11111:FLC006

           year measure     value  statistic
region_id
01         1995  FLC006  15770.27      11111
02         1995  FLC006    755.33      11111
03         1995  FLC006  47610.55      11111
04         1995  FLC006    404.23      11111
05         1995  FLC006  34077.64      11111
...         ...     ...       ...        ...
12         2017  FLC006  29654.37      11111
13         2017  FLC006  23293.30      11111
14         2017  FLC006  18449.97      11111
15         2017  FLC006  20453.79      11111
16         2017  FLC006  16202.41      11111

[368 rows x 4 columns]

## Regionen

Filter nach Level und/oder nach Eltern-Region

Parameter:

`level`

- 0 - Deutschland gesamt
- 1 - Bundesländer
- 2 - Regierungsbezirke / stat. Regionen
- 3 - Bundesländer
- 4 - Gemeinden

`parent`

Id der Eltern-Region. Technisch ist das lediglich ein Prefix-Filter, es wäre also z.B. auch `parent=123` erlaubt (auch wenn es keine Region mit der id 123 gibt), um alle Regionen, deren Id mit `123` beginnt, abzufragen.

**default**: `level=1&region=all` (alle Bundesländer)

### alle landkreise in brandenburg

In [3]:
get_df('?data=11111:FLC006&level=3&parent=12&layout=region')

http://localhost:5000/?data=11111:FLC006&level=3&parent=12&layout=region

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
region_id,,,,,,,,,,,,,,,,,,,,,
12051,208.32,207.88,207.88,207.89,207.91,207.98,207.99,207.99,228.77,228.77,...,228.81,228.82,228.82,228.85,228.84,229.71,229.71,229.72,229.72,229.72
12052,150.32,150.33,150.34,150.33,150.36,150.36,150.38,150.38,164.23,164.28,...,164.28,164.28,164.29,164.29,164.29,165.15,165.15,165.16,165.62,165.63
12053,147.63,147.63,147.63,147.63,147.63,147.60,147.60,147.60,147.61,147.62,...,147.78,147.81,147.81,147.81,147.64,147.85,147.85,147.85,147.85,147.85
12054,109.35,109.33,109.34,109.35,109.37,109.38,109.39,109.35,187.29,187.27,...,187.37,187.38,187.53,187.52,187.66,188.25,188.25,188.26,188.26,188.26
12060,1494.28,1494.28,1494.30,1494.32,1494.34,1494.32,1494.34,1494.31,1494.32,1494.31,...,1492.85,1471.64,1471.55,1471.57,1471.55,1479.69,1479.68,1479.68,1479.67,1479.59
12061,2261.04,2260.93,2260.97,2261.21,2260.92,2261.00,2261.01,2261.02,2261.01,2261.04,...,2261.44,2261.84,2261.86,2261.84,2261.85,2274.28,2274.48,2274.49,2274.49,2274.51
12062,1889.48,1889.46,1889.40,1889.40,1889.37,1889.39,1889.41,1889.35,1889.36,1889.33,...,1889.41,1889.43,1889.44,1889.39,1889.40,1899.57,1899.57,1899.57,1899.57,1899.60
12063,1706.94,1706.98,1707.22,1707.23,1707.22,1707.22,1707.24,1707.28,1716.80,1716.95,...,1717.33,1717.32,1717.33,1717.08,1717.10,1727.30,1727.29,1727.30,1727.30,1727.30
12064,2127.51,2127.58,2127.59,2127.60,2127.67,2127.72,2127.70,2128.15,2127.87,2128.12,...,2128.21,2149.64,2150.15,2150.40,2150.48,2158.65,2158.65,2158.65,2158.65,2158.65
12065,1798.22,1795.00,1794.76,1794.82,1796.76,1796.75,1795.35,1795.38,1795.52,1795.64,...,1797.42,1798.25,1798.28,1798.16,1798.28,1808.20,1808.20,1808.20,1808.18,1808.18
12066,1216.56,1216.56,1216.58,1216.61,1216.63,1216.63,1216.63,1216.61,1216.61,1216.62,...,1216.67,1216.71,1216.87,1216.89,1216.90,1223.08,1223.08,1223.09,1223.09,1223.07
12067,2242.18,2242.23,2242.27,2242.27,2242.33,2242.36,2242.41,2242.45,2242.49,2242.65,...,2243.03,2243.03,2243.10,2243.20,2243.27,2256.75,2256.75,2256.75,2256.75,2256.75
12068,2510.27,2510.30,2510.32,2510.35,2508.71,2508.72,2508.77,2508.76,2508.96,2509.19,...,2509.42,2508.61,2508.65,2509.40,2509.43,2526.56,2526.56,2526.56,2526.57,2526.56
12069,2682.46,2682.82,2682.86,2682.90,2682.92,2682.93,2682.95,2682.95,2574.98,2575.03,...,2575.14,2575.16,2575.18,2575.20,2575.91,2592.00,2591.95,2591.94,2592.02,2592.01
12070,2122.83,2122.86,2122.92,2122.94,2122.96,2122.99,2123.02,2123.07,2123.29,2123.28,...,2123.36,2123.39,2123.62,2123.62,2123.64,2138.59,2138.59,2138.59,2138.55,2138.55
12071,1661.54,1661.55,1661.58,1661.60,1661.61,1661.63,1661.66,1661.71,1647.87,1647.89,...,1648.01,1648.04,1647.99,1648.00,1648.29,1657.43,1657.43,1657.43,1656.97,1656.97
12072,2091.52,2091.89,2091.90,2091.92,2091.95,2091.98,2092.01,2092.01,2092.03,2092.05,...,2092.26,2092.30,2092.31,2092.35,2092.38,2104.20,2104.20,2104.22,2104.23,2104.22
12073,3058.22,3058.19,3058.15,3058.08,3058.09,3058.13,3058.25,3058.23,3058.13,3058.04,...,3058.22,3058.28,3058.35,3058.41,3058.74,3076.90,3076.92,3076.92,3076.89,3076.97

### Mehrere Regionen

kann man mit Komma getrennt angeben: `region=10,12,13`

In [4]:
get_df('?data=11111:FLC006&region=10,12,13&layout=time')

http://localhost:5000/?data=11111:FLC006&region=10,12,13&layout=time

           10        12        13
year
1995  2570.15  29478.67  23170.29
1996  2570.15  29475.81  23170.12
1997  2570.10  29476.01  23170.17
1998  2570.19  29476.45  23170.94
1999  2570.14  29476.75  23171.41
2000  2568.51  29477.09  23172.48
2001  2568.48  29476.10  23172.89
2002  2568.51  29476.61  23173.43
2003  2568.65  29477.14  23174.10
2004  2568.70  29478.08  23178.45
2005  2568.70  29478.63  23180.14
2006  2568.65  29479.70  23182.39
2007  2568.64  29480.29  23185.34
2008  2568.65  29481.01  23186.23
2009  2568.66  29481.95  23188.98
2010  2568.75  29483.13  23190.76
2011  2568.73  29483.98  23193.18
2012  2568.70  29485.63  23209.55
2013  2568.69  29654.16  23211.05
2014  2568.73  29654.34  23212.70
2015  2568.73  29654.36  23212.74
2016  2571.10  29654.38  23292.73
2017  2571.10  29654.37  23293.30

### Alle Kreise

`level=3`

In [5]:
get_df('?data=11111:FLC006&level=3&layout=region')

http://localhost:5000/?data=11111:FLC006&level=3&layout=region

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
region_id,,,,,,,,,,,,,,,,,,,,,
01001,56.44,56.44,56.44,56.44,56.44,56.46,56.46,56.38,56.37,56.38,...,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.73
01002,116.82,116.82,117.3,118.39,118.39,118.39,118.39,118.39,118.39,118.4,...,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65
01003,214.16,214.14,214.14,214.14,214.14,214.14,214.14,214.14,214.14,214.13,...,214.2,214.21,214.21,214.21,214.21,214.21,214.21,214.21,214.21,214.19
01004,71.56,71.56,71.56,71.56,71.56,71.57,71.57,71.63,71.63,71.63,...,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.66
01051,1436.49,1436.35,1436.35,1433.68,1429.22,1429.37,1428.63,1428.64,1428.18,1428.21,...,1428.04,1428.01,1427.84,1428.09,1428.08,1428.09,1428.12,1428.13,1428.14,1428.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16073,1041.64,1041.64,1034.56,1034.56,1034.55,1034.55,1034.56,1034.57,1034.57,1034.58,...,1034.59,1034.59,1034.58,1034.58,1034.58,1034.63,1036.03,1036.03,1036.03,1036.03
16074,817,817.01,817.04,817.03,817.02,817.01,817,816.99,816.99,816.99,...,816.98,816.98,816.97,816.97,816.97,816.97,815.23,815.25,815.24,815.24
16075,1148.26,1148.25,1148.25,1148.25,1148.27,1148.27,1148.25,1148.41,1148.41,1148.41,...,1148.48,1148.52,1148.47,1148.47,1148.39,1148.39,1151.3,1151.3,1151.3,1151.3
16076,843.4,843.41,843.41,843.42,843.46,843.48,843.5,843.51,843.51,843.52,...,843.49,843.5,843.52,843.52,843.53,843.54,845.97,845.98,845.98,845.98
16077,569.08,569.08,569.09,569.09,569.08,569.08,569.08,569.08,569.08,569.09,...,569.08,569.08,569.08,569.09,569.1,569.09,569.41,569.41,569.41,569.41

## Zeitraum

wird mit dem Parameter `?time` in Jahren angegeben. 

- `?time=2018` - Daten für 2018
- `?time=2010:2018` - Daten von 2010 bis 2018
- `?time=2015:` - Daten seit 2015
- `?time=:2016` - Daten bis einschließlich 2016
- `?time=2002,2012` - Daten für 2002 und 2012
- `?time=last` - Daten des aktuellsten vorhandenen Jahres

**default**: `?time=all` - alle verfügbaren Daten

### Bevölkerungsentwicklung in den Bundesländern seit 2015

Messwert: `BEVSTD` Bevölkerungsstand

Statistik: `12411` Fortschreibung des Bevölkerungsstandes

In [6]:
get_df('?data=12411:BEVSTD&time=2015:&level=1&layout=region&sort=region')

http://localhost:5000/?data=12411:BEVSTD&time=2015:&level=1&layout=region&sort=region

               2015      2016      2017
region_id
01          2858714   2881926   2889821
02          1787408   1810438   1830584
03          7926599   7945685   7962775
04           671489    678753    681032
05         17865516  17890100  17912134
06          6176172   6213088   6243262
07          4052803   4066053   4073679
08         10879618  10951893  11023425
09         12843514  12930751  12997204
10           995597    996651    994187
11          3520031   3574830   3613495
12          2484826   2494648   2504040
13          1612362   1610674   1611119
14          4084851   4081783   4081308
15          2245470   2236252   2223081
16          2170714   2158128   2151205

In [7]:
get_df('?data=12411:BEVSTD&time=2015:&level=1&layout=time&sort=region')

http://localhost:5000/?data=12411:BEVSTD&time=2015:&level=1&layout=time&sort=region

,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16
year,,,,,,,,,,,,,,,,
2015,2858714,1787408,7926599,671489,17865516,6176172,4052803,10879618,12843514,995597,3520031,2484826,1612362,4084851,2245470,2170714
2016,2881926,1810438,7945685,678753,17890100,6213088,4066053,10951893,12930751,996651,3574830,2494648,1610674,4081783,2236252,2158128
2017,2889821,1830584,7962775,681032,17912134,6243262,4073679,11023425,12997204,994187,3613495,2504040,1611119,4081308,2223081,2151205

In [8]:
get_df('?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=1')

http://localhost:5000/?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=1

,2000.BWS005.INSGESAMT,2001.BWS005.INSGESAMT,2002.BWS005.INSGESAMT,2003.BWS005.INSGESAMT,2004.BWS005.INSGESAMT,2005.BWS005.INSGESAMT,2006.BWS005.INSGESAMT,2007.BWS005.INSGESAMT,2008.BWS005.INSGESAMT,2009.BWS005.INSGESAMT,2010.BWS005.INSGESAMT,2011.BWS005.INSGESAMT,2012.BWS005.INSGESAMT,2013.BWS005.INSGESAMT,2014.BWS005.INSGESAMT,2015.BWS005.INSGESAMT,2016.BWS005.INSGESAMT,2017.BWS005.INSGESAMT
region_id,,,,,,,,,,,,,,,,,,
01,57867711,59730677,59105197,59720320,61232386,61571703,63431130,64769829,66900701,64811186,66497746,68802878,71742315,73304370,75863090,77672903,80506109,84308699
02,70476803,74535730,75904015,76075699,77979701,79581906,80667541,83128185,85596843,82282148,85106990,86117098,88078677,91974547,94428250,99355219,100646471,104922865
03,165837608,169030937,168138738,168618828,173568758,177177259,184963450,192029494,197223362,188247030,200535047,211884632,217025842,220930173,230693056,233437561,251416501,259440533
04,20171028,20925623,21547092,22071524,22377827,22720439,23778060,24551120,24877446,22573986,24043170,24849649,25944106,26239991,27079007,28002924,28628470,29781068
05,422977217,433473260,441558076,441069407,454619688,460190184,475323483,502080925,514948864,493770811,509476655,528876222,535869455,547736312,567736091,584377367,598594793,617732568
06,175465934,182203538,183366218,187786800,190904987,192072906,198041964,204667618,207430702,196920392,204421988,211606627,213887156,219363497,228404713,235634543,246121318,253276577
07,84908552,85391550,87356112,87700908,90769496,91218971,94655671,98480214,100166628,97214197,102888370,107438003,110280641,112693133,117445740,123341835,126228871,129579785
08,279239462,292356708,294708407,296909044,301488933,304294942,322908465,339332049,343202888,318932743,346368099,364649271,371744584,381693337,396820642,417545540,428828255,446402692
09,323612720,336653673,345208243,341686338,353981142,359171405,373518905,390112161,393086089,382818910,405119912,431584041,443925768,458002317,477684544,498543510,521208920,545791450
10,22923846,23468699,23508725,23692321,24799671,25994465,27044806,28210895,28545656,25739593,27261667,28773764,29003958,28766644,30131209,30927083,31185326,32047039
11,76979573,77883744,78065208,77196132,77395769,78957311,81787856,85186492,89336951,89057296,92948391,97139132,98765902,101304330,106202940,112780342,120410759,125931874
12,40309112,41383611,41962119,42190562,43457417,44083775,45972218,47692084,49375888,48111582,50422638,51865111,53011177,54682274,57776295,59541736,61764700,64157974
13,26274597,26747961,27029623,27217375,27765109,27898620,28649041,30128982,30994459,30593522,31467156,32573184,32988218,34235528,35665877,36482272,37357790,39444123
14,68128803,70451825,73144477,74518256,76782111,76604268,80310694,83637958,84550265,81791263,85534046,89385319,91226631,93765371,98543251,102762493,106766567,110243953
15,38275419,38915837,40347548,40555571,41475668,41503490,43329874,45126767,45764499,43539013,46207790,46747024,48722193,49641197,50886377,52309890,53870337,55583414
16,35788622,36776638,37394196,38054909,39027353,39044348,40588869,42225230,42663770,40832320,43395344,45786030,46379361,48322979,51082915,52621778,54204805,56051379

In [9]:
get_df('?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=3&sort=region')

http://localhost:5000/?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=3&sort=region

,2000.BWS005.INSGESAMT,2001.BWS005.INSGESAMT,2002.BWS005.INSGESAMT,2003.BWS005.INSGESAMT,2004.BWS005.INSGESAMT,2005.BWS005.INSGESAMT,2006.BWS005.INSGESAMT,2007.BWS005.INSGESAMT,2008.BWS005.INSGESAMT,2009.BWS005.INSGESAMT,2010.BWS005.INSGESAMT,2011.BWS005.INSGESAMT,2012.BWS005.INSGESAMT,2013.BWS005.INSGESAMT,2014.BWS005.INSGESAMT,2015.BWS005.INSGESAMT,2016.BWS005.INSGESAMT,2017.BWS005.INSGESAMT
region_id,,,,,,,,,,,,,,,,,,
01001,2.3624e+06,2.38971e+06,2.45369e+06,2.47132e+06,2.65229e+06,2.72732e+06,2.8358e+06,2.85958e+06,2.92505e+06,2.80591e+06,2.82095e+06,2.85644e+06,2.92296e+06,2.96437e+06,2994967,3186463,3247885,3.39073e+06
01002,7.06259e+06,7.22814e+06,6.92079e+06,7.27842e+06,7.27678e+06,7.38827e+06,7.72471e+06,7.7088e+06,8.15248e+06,8.15423e+06,8.19835e+06,8.46326e+06,8.60717e+06,9.08142e+06,9525522,9671340,10027107,1.04997e+07
01003,5.09467e+06,5.20068e+06,5.33479e+06,5.46005e+06,5.29445e+06,5.28194e+06,5.56823e+06,5.71393e+06,5.72684e+06,5.54555e+06,5.78734e+06,6.06616e+06,6.47987e+06,6.65435e+06,7173214,7317161,7482928,7.91486e+06
01004,1.98176e+06,1.96306e+06,1.98937e+06,2.09151e+06,1.99857e+06,2.02471e+06,2.11375e+06,2.18951e+06,2.20711e+06,2.1433e+06,2.25575e+06,2.37676e+06,2.39768e+06,2.48916e+06,2643875,2708934,2758514,2.90362e+06
01051,2.77557e+06,2.90355e+06,2.87142e+06,2.79668e+06,3.85667e+06,2.71936e+06,2.94984e+06,2.78719e+06,3.05429e+06,2.8432e+06,2.99475e+06,3.06156e+06,3.23587e+06,3.39782e+06,3333046,3560495,3702119,3.95222e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16073,1.72513e+06,1.66701e+06,1.73772e+06,1.7369e+06,1.86426e+06,1.85921e+06,2.00226e+06,2.19350e+06,2.26444e+06,2.02889e+06,2.07061e+06,2.20948e+06,2.23868e+06,2.31941e+06,2464855,2507244,2544848,2.60686e+06
16074,1.13541e+06,1.19393e+06,1.19653e+06,1.23237e+06,1.25396e+06,1.27281e+06,1.33319e+06,1.41388e+06,1.4258e+06,1.38364e+06,1.44869e+06,1.54886e+06,1.58015e+06,1.62086e+06,1720651,1708134,1701294,1.73728e+06
16075,1.35566e+06,1.39427e+06,1.52066e+06,1.489e+06,1.49871e+06,1.45548e+06,1.51642e+06,1.60312e+06,1.6199e+06,1.5602e+06,1.73264e+06,1.76642e+06,1.87784e+06,1.9613e+06,2077769,2038183,2081485,2.09499e+06
16076,1.5172e+06,1.56076e+06,1.54365e+06,1.59660e+06,1.60223e+06,1.53435e+06,1.62004e+06,1.64426e+06,1.61129e+06,1.53476e+06,1.63833e+06,1.68679e+06,1.71284e+06,1.79599e+06,1907373,1898067,2022905,2.10971e+06
16077,1.23679e+06,1.2498e+06,1.25734e+06,1.30854e+06,1.33695e+06,1.31802e+06,1.38182e+06,1.47213e+06,1.52547e+06,1.45914e+06,1.51454e+06,1.60156e+06,1.56339e+06,1.58016e+06,1720931,1715446,1798540,1.83387e+06

In [10]:
get_df('?data=82111:BWS005(WZ08SE)&level=3&sort=region')

http://localhost:5000/?data=82111:BWS005(WZ08SE)&level=3&sort=region

           year measure    value  BWS005.WZ08SE  statistic
region_id
01001      2000  BWS005  2362395      INSGESAMT      82111
01001      2000  BWS005      592         WZ08_A      82111
01001      2000  BWS005   490146      WZ08_B_18      82111
01001      2000  BWS005   426952         WZ08_C      82111
01001      2000  BWS005    61548         WZ08_F      82111
...         ...     ...      ...            ...        ...
16077      2017  BWS005   421808         WZ08_C      82111
16077      2017  BWS005   176270         WZ08_F      82111
16077      2017  BWS005   290990  WZ08_G_01_I_J      82111
16077      2017  BWS005   367253        WZ08_KL      82111
16077      2017  BWS005   463934        WZ08_PX      82111

[58552 rows x 5 columns]

## Mehrere Werte

Mehrere Werte, entweder aus der gleichen Statistik oder aus verschiedenen, können gemeinsam abgefragt werden.
Dazu einfach einen weiteren `&data=...` - parameter anhängen:

### Landtagswahlen Sachsen: Wahlberechtigte, Gültige Stimmen, Wahlbeteiligung

Statistik: `14344`

Merkmale: 
- `WAHL01` - Wahlberechtigte
- `WAHL04` - Gültige Stimmen
- `WAHLSR` - Wahlbeteiligung

In [11]:
get_df('?data=14344:WAHL01&data=14344:WAHL04&data=14344:WAHLSR&dformat=date')

http://localhost:5000/?data=14344:WAHL01&data=14344:WAHL04&data=14344:WAHLSR&dformat=date

                 date measure      value  statistic
region_id
14         1994-09-11  WAHL01  3586160.0      14344
14         1994-09-11  WAHL04  2063782.0      14344
14         1994-09-11  WAHLSR       58.4      14344
14         1999-09-19  WAHL01  3592456.0      14344
14         1999-09-19  WAHL04  2164072.0      14344
14         1999-09-19  WAHLSR       61.1      14344
14         2004-09-19  WAHL01  3554542.0      14344
14         2004-09-19  WAHL04  2080135.0      14344
14         2004-09-19  WAHLSR       59.6      14344
14         2009-08-30  WAHL01  3510336.0      14344
14         2009-08-30  WAHL04  1797349.0      14344
14         2009-08-30  WAHLSR       52.2      14344
14         2014-08-31  WAHL01  3376627.0      14344
14         2014-08-31  WAHL04  1637499.0      14344
14         2014-08-31  WAHLSR       49.1      14344

### Aufgeschlüsselt nach Parteien:

In [12]:
get_df('?data=14344:WAHL01&data=14344:WAHL04(PART03)&data=14344:WAHLSR&sort=time&dformat=date')

http://localhost:5000/?data=14344:WAHL01&data=14344:WAHL04(PART03)&data=14344:WAHLSR&sort=time&dformat=date

                 date measure      value WAHL04.PART03  statistic
region_id
14         1994-09-11  WAHL01  3586160.0                    14344
14         1994-09-11  WAHL04    85485.0    B90_GRUENE      14344
14         1994-09-11  WAHL04  1199883.0           CDU      14344
14         1994-09-11  WAHL04    36075.0           FDP      14344
14         1994-09-11  WAHL04   339619.0           PDS      14344
14         1994-09-11  WAHL04    60014.0      SONSTIGE      14344
14         1994-09-11  WAHL04   342706.0           SPD      14344
14         1994-09-11  WAHL04  2063782.0                    14344
14         1994-09-11  WAHLSR       58.4                    14344
14         1999-09-19  WAHL01  3592456.0                    14344
14         1999-09-19  WAHL04    55609.0    B90_GRUENE      14344
14         1999-09-19  WAHL04  1231254.0           CDU      14344
14         1999-09-19  WAHL04    23369.0           FDP      14344
14         1999-09-19  WAHL04   480317.0           PDS      14344
14         1999-09-19  WAHL04   141212.0      SONSTIGE      14344
14         1999-09-19  WAHL04   232311.0           SPD      14344
14         1999-09-19  WAHL04  2164072.0                    14344
14         1999-09-19  WAHLSR       61.1                    14344
14         2004-09-19  WAHL01  3554542.0                    14344
14         2004-09-19  WAHL04   106771.0    B90_GRUENE      14344
14         2004-09-19  WAHL04   855203.0           CDU      14344
14         2004-09-19  WAHL04   122605.0           FDP      14344
14         2004-09-19  WAHL04   490488.0           PDS      14344
14         2004-09-19  WAHL04   300630.0      SONSTIGE      14344
14         2004-09-19  WAHL04   204438.0           SPD      14344
14         2004-09-19  WAHL04  2080135.0                    14344
14         2004-09-19  WAHLSR       59.6                    14344
14         2009-08-30  WAHL01  3510336.0                    14344
14         2009-08-30  WAHL04   114963.0    B90_GRUENE      14344
14         2009-08-30  WAHL04   722983.0           CDU      14344
14         2009-08-30  WAHL04   178867.0           FDP      14344
14         2009-08-30  WAHL04   370359.0           PDS      14344
14         2009-08-30  WAHL04   222916.0      SONSTIGE      14344
14         2009-08-30  WAHL04   187261.0           SPD      14344
14         2009-08-30  WAHL04  1797349.0                    14344
14         2009-08-30  WAHLSR       52.2                    14344
14         2014-08-31  WAHL01  3376627.0                    14344
14         2014-08-31  WAHL04   159611.0           AFD      14344
14         2014-08-31  WAHL04    93857.0    B90_GRUENE      14344
14         2014-08-31  WAHL04   645414.0           CDU      14344
14         2014-08-31  WAHL04    61840.0           FDP      14344
14         2014-08-31  WAHL04   309581.0           PDS      14344
14         2014-08-31  WAHL04   164800.0      SONSTIGE      14344
14         2014-08-31  WAHL04   202396.0           SPD      14344
14         2014-08-31  WAHL04  1637499.0                    14344
14         2014-08-31  WAHLSR       49.1                    14344

### Wahlergebnisse in Sachsen und Einbürgerung von Ausländern nach Aufenthaltsdauer und deren Altersgruppen

In [13]:
get_df('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time')

http://localhost:5000/?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time

,year,measure,value,BEV008.ALTX04,BEV008.AUFDA1,WAHL04.PART03,statistic
region_id,,,,,,,
14,2009,WAHL04,114963,,,B90_GRUENE,14344
14,2009,WAHL04,722983,,,CDU,14344
14,2009,WAHL04,178867,,,FDP,14344
14,2009,WAHL04,370359,,,PDS,14344
14,2009,WAHL04,222916,,,SONSTIGE,14344
14,2009,WAHL04,187261,,,SPD,14344
14,2011,BEV008,206,ALT000B18,,,12511
14,2011,BEV008,334,ALT018B35,,,12511
14,2011,BEV008,212,ALT035B45,,,12511
14,2011,BEV008,159,ALT045UM,,,12511
14,2011,BEV008,129,,AUFDA00B08,,12511
14,2011,BEV008,509,,AUFDA08B15,,12511
14,2011,BEV008,182,,AUFDA15B20,,12511
14,2011,BEV008,91,,AUFDA20UM,,12511
14,2014,BEV008,207,ALT000B18,,,12511
14,2014,BEV008,422,ALT018B35,,,12511
14,2014,BEV008,284,ALT035B45,,,12511
14,2014,BEV008,180,ALT045UM,,,12511
14,2014,BEV008,143,,AUFDA00B08,,12511
14,2014,BEV008,644,,AUFDA08B15,,12511
14,2014,BEV008,195,,AUFDA15B20,,12511
14,2014,BEV008,111,,AUFDA20UM,,12511
14,2014,WAHL04,159611,,,AFD,14344
14,2014,WAHL04,93857,,,B90_GRUENE,14344
14,2014,WAHL04,645414,,,CDU,14344
14,2014,WAHL04,61840,,,FDP,14344
14,2014,WAHL04,309581,,,PDS,14344
14,2014,WAHL04,164800,,,SONSTIGE,14344
14,2014,WAHL04,202396,,,SPD,14344

In [14]:
get_df('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=region')

http://localhost:5000/?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=region

,2009.WAHL04.B90_GRUENE,2009.WAHL04.CDU,2009.WAHL04.FDP,2009.WAHL04.PDS,2009.WAHL04.SONSTIGE,2009.WAHL04.SPD,2011.BEV008.ALT000B18,2011.BEV008.ALT018B35,2011.BEV008.ALT035B45,2011.BEV008.ALT045UM,...,2014.BEV008.AUFDA08B15,2014.BEV008.AUFDA15B20,2014.BEV008.AUFDA20UM,2014.WAHL04.AFD,2014.WAHL04.B90_GRUENE,2014.WAHL04.CDU,2014.WAHL04.FDP,2014.WAHL04.PDS,2014.WAHL04.SONSTIGE,2014.WAHL04.SPD
region_id,,,,,,,,,,,,,,,,,,,,,
14,114963,722983,178867,370359,222916,187261,206,334,212,159,...,644,195,111,159611,93857,645414,61840,309581,164800,202396

In [15]:
get_df('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=time')

http://localhost:5000/?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=time

,14.BEV008.ALT000B18,14.BEV008.ALT018B35,14.BEV008.ALT035B45,14.BEV008.ALT045UM,14.BEV008.AUFDA00B08,14.BEV008.AUFDA08B15,14.BEV008.AUFDA15B20,14.BEV008.AUFDA20UM,14.WAHL04.AFD,14.WAHL04.B90_GRUENE,14.WAHL04.CDU,14.WAHL04.FDP,14.WAHL04.PDS,14.WAHL04.SONSTIGE,14.WAHL04.SPD
year,,,,,,,,,,,,,,,
2009,,,,,,,,,,114963,722983,178867,370359,222916,187261
2011,206,334,212,159,129,509,182,91,,,,,,,
2014,207,422,284,180,143,644,195,111,159611,93857,645414,61840,309581,164800,202396

## kombinierte Dimensionen

In [16]:
get_df('?data=12613:BEV002(NAT,GES)&time=2017&region=01')

http://localhost:5000/?data=12613:BEV002(NAT,GES)&time=2017&region=01

           year measure  value BEV002.GES BEV002.NAT  statistic
region_id
01         2017  BEV002    409       GESM       NATA      12613
01         2017  BEV002  16489       GESM       NATD      12613
01         2017  BEV002  16898       GESM                 12613
01         2017  BEV002    290       GESW       NATA      12613
01         2017  BEV002  17267       GESW       NATD      12613
01         2017  BEV002  17557       GESW                 12613
01         2017  BEV002    699                  NATA      12613
01         2017  BEV002  33756                  NATD      12613

In [17]:
get_df('?data=12613:BEV002(NAT,GES)&time=2017&level=3&layout=region')

http://localhost:5000/?data=12613:BEV002(NAT,GES)&time=2017&level=3&layout=region

,2017.BEV002.GESM,2017.BEV002.GESM.NATA,2017.BEV002.GESM.NATD,2017.BEV002.GESW,2017.BEV002.GESW.NATA,2017.BEV002.GESW.NATD,2017.BEV002.NATA,2017.BEV002.NATD
region_id,,,,,,,,
01001,498,15,483,536,18,518,33,1001
01002,1168,51,1117,1313,35,1278,86,2395
01003,1345,51,1294,1407,25,1382,76,2676
01004,542,22,520,599,16,583,38,1103
01051,870,9,861,908,7,901,16,1762
...,...,...,...,...,...,...,...,...
16073,827,2,825,888,1,887,3,1712
16074,509,1,508,496,,496,1,1004
16075,601,2,599,610,2,608,4,1207
16076,663,3,660,778,4,774,7,1434
16077,684,6,678,696,1,695,7,1373

## Labels

Standardmäßig werden Regionen und Merkmale samt ihrer Ausprägungen mit ihren jeweiligen IDs angegeben. Mit `labels=name` werden diese Ids durch ihren ausgeschriebeneen Namen / Bezeichung ersetzt. `labels=both` gibt das Format *Name (id)* zurück.

In [18]:
get_df('?data=12613:BEV002(NAT,GES)&time=2017&region=01&labels=name')

http://localhost:5000/?data=12613:BEV002(NAT,GES)&time=2017&region=01&labels=name

,Jahr,Merkmal,Wert,Gestorbene: Geschlecht,Gestorbene: Nationalität,Statistik
Region,,,,,,
Schleswig-Holstein,2017,Gestorbene,409,männlich,Ausländer(innen),Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,16489,männlich,Deutsche,Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,16898,männlich,,Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,290,weiblich,Ausländer(innen),Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,17267,weiblich,Deutsche,Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,17557,weiblich,,Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,699,,Ausländer(innen),Statistik der Sterbefälle
Schleswig-Holstein,2017,Gestorbene,33756,,Deutsche,Statistik der Sterbefälle

In [19]:
get_df('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&labels=name')

http://localhost:5000/?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&labels=name

,Jahr,Merkmal,Wert,"Einbürgerungen von Ausländern: Altersgruppen (unter 18,18-35,35-45, 45 und älter)",Einbürgerungen von Ausländern: Aufenthaltsdauer,Gültige Stimmen: Parteien,Statistik
Region,,,,,,,
Sachsen,2009,Gültige Stimmen,114963,,,GRÜNE,Landtagswahlen: Sachsen
Sachsen,2009,Gültige Stimmen,722983,,,CDU/CSU,Landtagswahlen: Sachsen
Sachsen,2009,Gültige Stimmen,178867,,,FDP,Landtagswahlen: Sachsen
Sachsen,2009,Gültige Stimmen,370359,,,DIE LINKE,Landtagswahlen: Sachsen
Sachsen,2009,Gültige Stimmen,222916,,,Sonstige Parteien,Landtagswahlen: Sachsen
Sachsen,2009,Gültige Stimmen,187261,,,SPD,Landtagswahlen: Sachsen
Sachsen,2011,Einbürgerungen von Ausländern,206,unter 18 Jahre,,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,334,18 bis unter 35 Jahre,,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,212,35 bis unter 45 Jahre,,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,159,45 Jahre und mehr,,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,129,,Aufenthaltsdauer unter 8 Jahren,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,509,,Aufenthaltsdauer 8 bis unter 15 Jahren,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,182,,Aufenthaltsdauer 15 bis unter 20 Jahren,,Einbürgerungsstatistik
Sachsen,2011,Einbürgerungen von Ausländern,91,,Aufenthaltsdauer 20 Jahre und mehr,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,207,unter 18 Jahre,,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,422,18 bis unter 35 Jahre,,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,284,35 bis unter 45 Jahre,,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,180,45 Jahre und mehr,,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,143,,Aufenthaltsdauer unter 8 Jahren,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,644,,Aufenthaltsdauer 8 bis unter 15 Jahren,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,195,,Aufenthaltsdauer 15 bis unter 20 Jahren,,Einbürgerungsstatistik
Sachsen,2014,Einbürgerungen von Ausländern,111,,Aufenthaltsdauer 20 Jahre und mehr,,Einbürgerungsstatistik
Sachsen,2014,Gültige Stimmen,159611,,,AfD,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,93857,,,GRÜNE,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,645414,,,CDU/CSU,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,61840,,,FDP,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,309581,,,DIE LINKE,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,164800,,,Sonstige Parteien,Landtagswahlen: Sachsen
Sachsen,2014,Gültige Stimmen,202396,,,SPD,Landtagswahlen: Sachsen

In [20]:
get_df('?data=12613:BEV002(NAT,GES)&time=2017&level=1&layout=region&labels=name')

http://localhost:5000/?data=12613:BEV002(NAT,GES)&time=2017&level=1&layout=region&labels=name

,2017.BEV002.GESM,2017.BEV002.GESM.NATA,2017.BEV002.GESM.NATD,2017.BEV002.GESW,2017.BEV002.GESW.NATA,2017.BEV002.GESW.NATD,2017.BEV002.NATA,2017.BEV002.NATD
Region,,,,,,,,
Schleswig-Holstein,16898,409,16489,17557,290,17267,699,33756
Hamburg,8697,576,8121,8943,333,8610,909,16731
Niedersachsen,45958,1420,44538,47755,1013,46742,2433,91280
Bremen,3911,191,3720,3994,124,3870,315,7590
Nordrhein-Westfalen,99886,5060,94826,104956,3273,101683,8333,196509
Hessen,32633,1773,30860,33704,1145,32559,2918,63419
Rheinland-Pfalz,23200,779,22421,24185,499,23686,1278,46107
Baden-Württemberg,53677,3635,50042,55443,2272,53171,5907,103213
Bayern,65158,2962,62196,68744,1909,66835,4871,129031
Saarland,6489,263,6226,6786,187,6599,450,12825
Berlin,16892,971,15921,17447,622,16825,1593,32746
Brandenburg,16005,161,15844,15773,106,15667,267,31511
Mecklenburg-Vorpommern,10684,81,10603,10052,39,10013,120,20616
Sachsen,26867,211,26656,27822,112,27710,323,54366
Sachsen-Anhalt,16469,133,16336,16326,69,16257,202,32593
Thüringen,14337,84,14253,15024,50,14974,134,29227

In [21]:
get_df('?data=12613:BEV002(NAT,GES)&time=2017&level=1&layout=time&labels=name')

http://localhost:5000/?data=12613:BEV002(NAT,GES)&time=2017&level=1&layout=time&labels=name

,01.BEV002.GESM,01.BEV002.GESM.NATA,01.BEV002.GESM.NATD,01.BEV002.GESW,01.BEV002.GESW.NATA,01.BEV002.GESW.NATD,01.BEV002.NATA,01.BEV002.NATD,02.BEV002.GESM,02.BEV002.GESM.NATA,...,15.BEV002.NATA,15.BEV002.NATD,16.BEV002.GESM,16.BEV002.GESM.NATA,16.BEV002.GESM.NATD,16.BEV002.GESW,16.BEV002.GESW.NATA,16.BEV002.GESW.NATD,16.BEV002.NATA,16.BEV002.NATD
Jahr,,,,,,,,,,,,,,,,,,,,,
2017,16898,409,16489,17557,290,17267,699,33756,8697,576,...,202,32593,14337,84,14253,15024,50,14974,134,29227

In [28]:
get_df('?data=12511:BEV008(AUFDA1:AUFDA00B08|AUFDA15B20)&labels=name&sort=time')

http://localhost:5000/?data=12511:BEV008(AUFDA1:AUFDA00B08|AUFDA15B20)&labels=name&sort=time

,Jahr,Merkmal,Wert,Einbürgerungen von Ausländern: Aufenthaltsdauer,Statistik
Region,,,,,
Schleswig-Holstein,2011,Einbürgerungen von Ausländern,604,Aufenthaltsdauer unter 8 Jahren,Einbürgerungsstatistik
Schleswig-Holstein,2011,Einbürgerungen von Ausländern,448,Aufenthaltsdauer 15 bis unter 20 Jahren,Einbürgerungsstatistik
Hamburg,2011,Einbürgerungen von Ausländern,442,Aufenthaltsdauer unter 8 Jahren,Einbürgerungsstatistik
Hamburg,2011,Einbürgerungen von Ausländern,1208,Aufenthaltsdauer 15 bis unter 20 Jahren,Einbürgerungsstatistik
Niedersachsen,2011,Einbürgerungen von Ausländern,1105,Aufenthaltsdauer unter 8 Jahren,Einbürgerungsstatistik
...,...,...,...,...,...
Sachsen,2017,Einbürgerungen von Ausländern,289,Aufenthaltsdauer 15 bis unter 20 Jahren,Einbürgerungsstatistik
Sachsen-Anhalt,2017,Einbürgerungen von Ausländern,129,Aufenthaltsdauer unter 8 Jahren,Einbürgerungsstatistik
Sachsen-Anhalt,2017,Einbürgerungen von Ausländern,166,Aufenthaltsdauer 15 bis unter 20 Jahren,Einbürgerungsstatistik
Thüringen,2017,Einbürgerungen von Ausländern,217,Aufenthaltsdauer unter 8 Jahren,Einbürgerungsstatistik
Thüringen,2017,Einbürgerungen von Ausländern,128,Aufenthaltsdauer 15 bis unter 20 Jahren,Einbürgerungsstatistik